/*CSS reset*/
*{margin:0; padding:0; box-sizing: border-box; font-size: 100%; font-family: 'Roboto', sans-serif; border: none; outline: none;}

nav,ul{list-style: none;}

img{max-width: 100%;}

a{text-decoration: none;}

/*header - index*/
.cabecalho{width: 100%; display: flex; justify-content: space-between; padding: 10px; background-color: #a02c2c; align-items: center; height: 100px;}

.logo img{width: 200px; height: 200px;}

.menu ul{display: flex; align-items: center; height: 5rem;}

.menu li{margin: 0 10px;}

.menu a{color:#fff;text-transform: uppercase; font-size: 0.9rem;}

.menu i{color:#fff;}

.fa-home{font-size: 1.5rem;}

.menu a:hover,.menu i:hover{color:#c3b8b8;}

.menu i:hover{color:#c3b8b8;}

.show-menu-btn,.hide-menu-btn{display: none; cursor: pointer; font-size: 1.5rem; color:#fff;}

#toggle{display: none;}

@media screen and (max-width:800px){
    .cabecalho{position: fixed;}
    .show-menu-btn{display: block; order:10;}
    .hide-menu-btn{display: block; position: absolute; right: 30px; top:20px; width: 60px; height: 60px;font-size: 30px;}
    .menu ul{flex-direction: column; position: absolute; width: 100%; height: 100vh; background-color:brown; right:-100%; top: 0; padding-top: 100px; transition: 0.5s;}
    .menu li{width: 100%;}
    .menu a{display: block; padding:10px 0;}
    .menu a:hover{transform: scale(1.5); transition:0.5s;}
    h1{align-self: center;}
    #toggle:checked ~ .menu ul{text-align: center; right: 0; transition:0.5s;}
}

/*Capa*/
.capa{background-image: url(../img/restaurante.jpg); background-repeat: no-repeat; background-size: 100vw 100vh;height: 100vh; background-position: center; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;}

.capa h1{font-size: 3rem; color:#fff; margin-bottom: 40px;}

.capa p{font-size: 2rem; color: #fff;}

@media screen and (max-width:800px){
    .capa{height: 75vh;}
    .capa h1{font-size: 2rem;}
    .capa p{font-size: 1.3rem;}
}

/*depoimentos*/
.depoimentos{display: flex; align-items: center; justify-content: center; flex-direction: column;}

.depoimentos h2{padding:40px 0; font-size: 2rem; color: #a02c2c; text-align: center;}

.grid{display: flex; flex-wrap: wrap; max-width: 960px; margin: 0 auto;}

.grid li{flex: 1 1 50%; flex-wrap: wrap;}

.grid figure{display: flex; align-items: center; margin: 20px;}

.depoimentos h3{color: dodgerblue; margin-bottom: 5px;}

.depoimentos p{color: #a02c2c;}

.grid img{border-radius: 50%;width: 30%; height: 50%; align-self: center; padding:10px }

@media screen and (max-width:800px){
    .depoimentos h2{font-size: 1.5rem;}
    .grid{flex-direction: column;}
    .grid li{flex-basis: 100%;}
}

/*rodape*/
.rodape{width: 100%; background-color: #a02c2c; display:flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; padding: 20px 0;}

.menu-logo{display: flex; height: 150px; width: 100%; justify-content: center;}

.menu-logo ul{display: flex; align-items: center; margin: 20px 0;;}

.menu-logo li{margin: 0 10px;}

.menu-logo a{color:#fff; text-transform: uppercase; font-size: 0.9rem;}

.menu-logo a:hover{color:#c3b8b8;}

.rodape h5{color: #fff; border-top: 1.5px solid #fff; padding:10px 0; width: 100%;}

@media screen and (max-width:800px){
    .menu-logo ul{flex-direction: column;}
}

/* página quem somos */
.capa-quemsomos{background-image: url(../img/mesa.jpg); background-repeat: no-repeat; background-size: 100vw 100vh;height: 75vh; background-position: center; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;}

.capa-quemsomos h1{font-size: 4rem; width: 50%;align-self: flex-start; font-family: 'Great Vibes', cursive; color:#a02c2c;}

.quem-somos{width:100%; padding: 50px 0;}

.quem-somos p{max-width: 960px; margin: 0 auto; font-size: 1.5rem; line-height: 40px; text-align: center; padding: 10px; color:#a02c2c;}

@media screen and (max-width:800px){
    .capa-quemsomos{height: 75vh; background-size: 100vw 75vh;}
    .capa-quemsomos h1{font-size: 2.5rem; margin-left: 10px;}
    .quem-somos p{font-size: 1rem;}
}



